body {
    background-image: linear-gradient(#eff5f5, #97ade8);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 30px 0;
}

h1 {
    font-size: 40px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 25px;
    display: block;
    width: 50px;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text-section, .result-section {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.campoTexto, .resultado {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border: 3px solid blue;
    text-align: center;
    text-transform: lowercase;
    font-size: medium;
    padding: 10px;
    resize: none;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.botonE, .botonD, .botonC {
    padding: 10px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

footer {
    text-align: right;
    padding: 20px;
    font-size: 10px;
}

@media (max-width: 768px) {
    .campoTexto, .resultado {
        height: 120px;
    }

    .botones {
        flex-direction: column;
    }

    .botonE, .botonD, .botonC {
        margin: 5px 0;
    }
}
